.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  flex-direction: column;
} 

.game button {
  margin: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.result {

  text-align: center;
  display: flex;
  align-items: center;
}

.player {
  margin: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.score {
  display: flex;
  flex-direction: column;
  margin: 10px
}


a {
  text-decoration: none;
  color: white;
}
img {
  width: 200px;
  object-fit: scale-down;
  max-width: 100%;
}

.result button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}